@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="container MainContent Spacer">
    <div class="row SpacerAfter">
        <div class="col-md">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">@ViewData["Title"]</h4>
                <p>You have successfully logged out of the application.</p>
                <hr />
                <a href="~/" alt="Go to homepage"><i class="fas fa-home"></i> Go to Home Page</a>
            </div>
        </div>
    </div>
</div>