/*Stop modals from expanding past screen height*/
.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

@font-face {
    font-family: 'vegetarian';
    src: url('/fonts/vegetarian.eot?53ylxw');
    src: url('/fonts/vegetarian.eot?#iefix53ylxw') format('embedded-opentype'), 
        url('/fonts/vegetarian.woff?53ylxw') format('woff'), 
        url('/fonts/vegetarian.ttf?53ylxw') format('truetype'), 
        url('/fonts/vegetarian.svg?53ylxw#vegetarian') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="veg-"], [class*=" veg-"] {
    font-family: 'vegetarian';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.veg-indian-vegetarian:before {
    content: "\22a1";
    color: green;
}

.veg-vegetarian:before {
    content: "\24cb";
    color: green;
}

.vegetarianicon {
    font-family: "vegetarian";
    color: green;
}

@font-face {
    font-family: 'glutenfree';
    src: url('/fonts/glutenfree.eot');
    src: url('/fonts/glutenfree.eot') format('embedded-opentype'), 
        url('/fonts/glutenfree.woff') format('woff'), 
        url('/fonts/glutenfree.ttf') format('truetype'), 
        url('/fonts/glutenfree.svg#glutenfree') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="glutenfree-"], [class*=" glutenfree-"] {
    font-family: 'glutenfree';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glutenfree-gf1:before {
    content: "\e900";
    color: #ffb726;
}

.glutenfree-gf2:before {
    content: "\e901";
    color: #ff5619;
    margin-left: -1em;
}

.glutenfreeicon {
    font-family: "glutenfree";
    color: #ffb726;
}

.LoadingArea {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 3em;
}

.bd-callout {
    padding: 0.75rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout + .bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-info h4 {
    color: #5bc0de
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
    color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

.bd-callout-danger h4 {
    color: #d9534f
}

.bd-callout-bells {
    border-left-color: #00aeff;
    background-color: #ffffff;
}

.bd-callout-bells h4 {
    color: #00aeff
}

body {
    background: url(/images/WoodBackground.jpg);
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 1200px) {
    /*Make site wider at larger widths*/
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1500px) {
    /*Make site wider at larger widths*/
    .container {
        max-width: 1500px;
    }
}

@media (min-width: 992px) {
    .MainContent-Twitter {
        padding-left: 40px;
    }
}

.MainContent {
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
    border-radius: 4px;
    background-color: #ffffff;
}

.MenuContent h3 {
    padding: 10px;
    font-family: 'Permanent Marker', cursive;
}

.LeftColumnBG {
    background-image: url('/images/BellsLogoBackground.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.Spacer {
    margin-top: 20px;
}

.SpacerAfter {
    margin-bottom: 20px;
}

.TopLogo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Strapline {
    font-family: 'Permanent Marker', cursive;
}

.Twitter {
    height: 800px;
    overflow-y: scroll;
    border-left: 1px solid #e2e9ec;
    display: none;
}

.TwitterPlaceholder {
    color: #00aeff;
}

.TwitterPlaceholder h1 {
    font-size: 3em;
    padding-top: 100px;
}

.body-content .container.MainContent h3,
.Menu > .row > .col-md > h3 {
    font-family: 'Pacifico', cursive;
    color: #00aeff;
    border-bottom: 2px dashed #000080;
    background-image: url('/images/FishSmall.gif');
    background-repeat: no-repeat;
    background-position: right;
    min-height: 45px;
}

.body-content .container.MainContent h4,
.carousel-caption h4 {
    font-family: 'Permanent Marker', cursive;
}

.carousel-caption {
    text-shadow: 2px 2px 4px #000;
}

.carousel-caption .ContactDetails a:link,
.carousel-caption .ContactDetails a:active,
.carousel-caption .ContactDetails a:visited {
    color: #ffffff;
}

.carousel-caption .ContactDetails a:hover {
    color: #c0c0c0;
}

.btn-Bells {
    background-color: #00aeff;
    color: #ffffff;
}

.btn-BellsDark {
    background-color: #c0c0c0;
    border: 1px solid #ffffff;
}

.Map {
    width: 100%;
    height: 100%;
    min-height: 400px;
    border: 0px;
}

.OutletName {
    margin-bottom: 60px;
}

.OutletFacilities {
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
}

tr.CurrentDay {
    font-weight: bold;
}

.Loading {
    margin-top: 100px;
    margin-bottom: 100px;
}

.Loading h1 {
    font-size: 3em;
}

textarea.form-control {
    height: 146px;
}

.card {
    margin-bottom: 30px;
    background-color: #748597;
    color: #c0c0c0;
}

.card .card-img {
    position: relative;
    border-bottom: 1px solid #c0c0c0;
}

.card .card-img .Icons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #203a55;
}

.card .card-img .Icons .fa-utensils {
    color: #203a55;
}

.card .card-img .Icons .fa-shopping-bag {
    color: #7c3d3f;
}

.NavbarLogoPreAnim {
    visibility: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear, margin 0.5s linear;
    margin-left: -50px;
    margin-right: 50px;
}

.NavbarLogoPreAnim img {
    transform: rotate(270deg);
}

.NavbarLogoAnimate {
    visibility: visible;
    opacity: 1;
    margin-left: 0px;
    margin-right: 0px;
}

nav .SocialMediaLinks {
    width: 200px;
}

.navbar-brand {
    margin-top: -10px;
    margin-bottom: -10px;
}

.navbar {
    background-color: #748597 !important;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
}
.navbar .navbar-brand {
  color: #c0c0c0 !important;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #203a55 !important;
}
.navbar .navbar-text {
  color: #c0c0c0 !important;
}
.navbar .navbar-text a {
  color: #203a55 !important;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #203a55 !important; 
}
.navbar .navbar-nav .nav-link {
  color: #c0c0c0 !important;
  border-radius: .25rem !important;
  margin: 0 0.25em !important;
}
.navbar .navbar-nav .nav-link:not(.disabled):not(.Takeaway):hover,
.navbar .navbar-nav .nav-link:not(.disabled):not(.Takeaway):focus {
    color: #203a55 !important;
    background-color: #c0c0c0 !important; /*Added for background hover colour*/
}
.navbar .navbar-nav .nav-link.Takeaway:hover,
.navbar .navbar-nav .nav-link.Takeaway:focus {
    color: #7c3d3f !important;
    background-color: #c0c0c0 !important; /*Added for background hover colour*/
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #748597 !important;
  border-color: #c0c0c0 !important;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #c0c0c0 !important;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:not(.Takeaway):hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:not(.Takeaway):focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item:not(.Takeaway).active {
  color: #203a55 !important;
  background-color: #c0c0c0 !important;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item.Takeaway:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item.Takeaway:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.Takeaway.active {
  color: #7c3d3f !important;
  background-color: #c0c0c0 !important;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #c0c0c0 !important;
}
.navbar .navbar-nav .nav-item.active .nav-link:not(.Takeaway),
.navbar .navbar-nav .nav-item.active .nav-link:not(.Takeaway):hover,
.navbar .navbar-nav .nav-item.active .nav-link:not(.Takeaway):focus,
.navbar .navbar-nav .nav-item.show .nav-link:not(.Takeaway),
.navbar .navbar-nav .nav-item.show .nav-link:not(.Takeaway):hover,
.navbar .navbar-nav .nav-item.show .nav-link:not(.Takeaway):focus {
  color: #203a55 !important;
  background-color: #c0c0c0 !important;
}
.navbar .navbar-nav .nav-item.active .nav-link.Takeaway,
.navbar .navbar-nav .nav-item.active .nav-link.Takeaway:hover,
.navbar .navbar-nav .nav-item.active .nav-link.Takeaway:focus,
.navbar .navbar-nav .nav-item.show .nav-link.Takeaway,
.navbar .navbar-nav .nav-item.show .nav-link.Takeaway:hover,
.navbar .navbar-nav .nav-item.show .nav-link.Takeaway:focus {
  color: #7c3d3f !important;
  background-color: #c0c0c0 !important;
}
.navbar .navbar-toggle {
  border-color: #c0c0c0 !important;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #c0c0c0 !important;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #c0c0c0 !important;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #c0c0c0 !important;
}
.navbar .navbar-link {
  color: #c0c0c0 !important;
}
.navbar .navbar-link:hover {
  color: #203a55 !important;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #c0c0c0 !important;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #203a55 !important;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #203a55 !important;
    background-color: #c0c0c0 !important;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #c0c0c0 !important;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #203a55 !important;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #203a55 !important;
    background-color: #c0c0c0 !important;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #c0c0c0 !important;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #203a55 !important;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #203a55 !important;
    background-color: #c0c0c0 !important;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #c0c0c0 !important;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #203a55 !important;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #203a55 !important;
    background-color: #c0c0c0 !important;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #c0c0c0 !important;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #203a55 !important;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #203a55 !important;
  background-color: #c0c0c0 !important;
}

.navbar-nav .show .dropdown-menu .dropdown-item.Takeaway:hover,
.navbar-nav .show .dropdown-menu .dropdown-item.Takeaway:focus {
  color: #7c3d3f !important;
}