/*Stop modals from expanding past screen height*/
.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    background-color: #383e42;
}

.modal-header,
.modal-footer {
    background-color: #383e42;
    color: #ffffff;
}

tr.over {
    border: 2px dashed #000;
}

@font-face {
    font-family: 'vegetarian';
    src: url('/fonts/vegetarian.eot?53ylxw');
    src: url('/fonts/vegetarian.eot?#iefix53ylxw') format('embedded-opentype'), 
        url('/fonts/vegetarian.woff?53ylxw') format('woff'), 
        url('/fonts/vegetarian.ttf?53ylxw') format('truetype'), 
        url('/fonts/vegetarian.svg?53ylxw#vegetarian') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="veg-"], [class*=" veg-"] {
    font-family: 'vegetarian';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.veg-indian-vegetarian:before {
    content: "\22a1";
    color: green;
}

.veg-vegetarian:before {
    content: "\24cb";
    color: green;
}

.vegetarianicon {
    font-family: "vegetarian";
    color: green;
}

@font-face {
    font-family: 'glutenfree';
    src: url('/fonts/glutenfree.eot');
    src: url('/fonts/glutenfree.eot') format('embedded-opentype'), url('/fonts/glutenfree.woff') format('woff'), url('/fonts/glutenfree.ttf') format('truetype'), url('/fonts/glutenfree.svg#glutenfree') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="glutenfree-"], [class*=" glutenfree-"] {
    font-family: 'glutenfree';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glutenfree-gf1:before {
    content: "\e900";
    color: #ffb726;
}

.glutenfree-gf2:before {
    content: "\e901";
    color: #ff5619;
    margin-left: -1em;
}

.glutenfreeicon {
    font-family: "glutenfree";
    color: #ffb726;
}

.LoadingArea {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 3em;
}

.alert-primary {
    color: #acacac;
    background-color: #000000;
    border: 1px solid #303030;
}

.alert-dark {
    color: #acacac;
    background-color: #222222;
    border: 1px solid #303030;
}

.alert-light {
    color: #acacac;
    background-color: #303030;
    border: 1px solid #404040;
}

.alert-warning {
    color: #ffffff;
    background-color: #f39c12;
    border: 1px solid #f39c12;
}

f39c12

.bd-callout {
    padding: 0.75rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout + .bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-info h4 {
    color: #5bc0de
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
    color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

.bd-callout-danger h4 {
    color: #d9534f
}

.bd-callout-bells {
    border-left-color: #00aeff;
    background-color: #ffffff;
}

.bd-callout-bells h4 {
    color: #00aeff
}

body {
    background-color: #383e42;
    font-family: 'Roboto', sans-serif;
}

a:link,
a:active,
a:visited {
    color: #acacac;
}

a:hover {
    color: #ffffff;
}

.Background1 {
    background-color: #383e42;
}

.Background2 {
    background-color: #000000;
}

.Background2 .container .row {
    color: #acacac;
}

.BorderTop {
    border-top: 2px solid #ffffff;
}

.container > .row {
    color: #ffffff;
}

.MenuContent h3 {
    padding: 10px;
}

.MenuContent .text-muted {
    color: #acacac !important;
}

.LeftColumnBG {
    background-image: url('/images/BellsLogoBackground.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.Spacer {
    padding-top: 20px;
}

.SpacerAfter {
    padding-bottom: 20px;
}

.TopFadedBackground {
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    overflow: hidden;
}

.TopLogo {
    position: absolute;
    width: 100%;
    height: 100%;
}

.TopLogo img {
    display: block;
}

@media (min-width: 1500px) {
    .BackgroundImg {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
}

@media (min-width: 1200px) and (max-width: 1499px) {
    .BackgroundImg {
        margin-left: -40px;
        margin-right: -40px;
        width: 140%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .BackgroundImg {
        margin-left: -60px;
        margin-right: -60px;
        width: 160%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .BackgroundImg {
        margin-left: -80px;
        margin-right: -80px;
        width: 200%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .BackgroundImg {
        margin-top: 100px;
        margin-left: -80px;
        margin-right: -80px;
        width: 180%;
    }
}

@media (min-width: 0px) and (max-width: 575px) {
    .BackgroundImg {
        margin-top: 200px;
        margin-left: -100px;
        margin-right: -100px;
        width: 200%;
    }
}

.Strapline {
    font-family: 'Permanent Marker', cursive;
}

.Twitter {
    height: 800px;
    overflow-y: scroll;
    display: none;
}

.TwitterPlaceholder {
    color: #acacac;
}

.TwitterPlaceholder h1 {
    font-size: 3em;
    padding-top: 100px;
}

.container .row h3,
.container .row h1,
.Menu > .row > .col-md > h3 {
    font-family: 'Exo 2', sans-serif;
    color: #acacac;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000;
}

.carousel-caption {
    text-shadow: 2px 2px 4px #000;
}

.carousel-caption .ContactDetails a:link,
.carousel-caption .ContactDetails a:active,
.carousel-caption .ContactDetails a:visited {
    color: #ffffff;
}

.carousel-caption .ContactDetails a:hover {
    color: #c0c0c0;
}

.btn-Bells {
    background-color: #444444;
    border-color: #444444;
    color: #ffffff;
}

.btn-Bells:hover {
    background-color: #313131;
    border-color: #313131;
    color: #ffffff;
}

.Map {
    width: 100%;
    height: 100%;
    min-height: 400px;
    border: 0px;
}

.OutletName {
    margin-bottom: 0px;
}

.OutletFacilities {
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
}

tr.CurrentDay {
    font-weight: bold;
    background-color: #222222;
}

.Loading {
    margin-top: 100px;
    margin-bottom: 100px;
}

.Loading h1 {
    font-size: 3em;
}

.form-control {
    color: #ffffff;
    background-color: #303030;
    border-color: #303030;
}

.form-control::placeholder {
    color: #acacac;
}

.form-control:focus {
    color: #ffffff;
    background-color: #222222;
}

textarea.form-control {
    height: 146px;
}

.card {
    margin-bottom: 30px;
    background-color: #383e42;
    color: #ffffff;
    border-color: #303030;
}

.card .card-img {
    position: relative;
    border-bottom: 1px solid #303030;
    overflow: hidden;
}

.card .card-img .Icons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #203a55;
}

.card .card-img .Icons .fa-utensils {
    color: #203a55;
}

.card .card-img .Icons .fa-shopping-bag {
    color: #7c3d3f;
}

.card .card-img img {
    transition: transform .2s;
}

.card .card-img img:hover {
    transform: scale(1.5);
}

.NavbarLogoPreAnim {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear, margin 0.5s linear;
    margin-left: -50px;
    margin-right: 50px;
}

.NavbarLogoPreAnim img {
    transform: rotate(270deg);
}

.NavbarLogoAnimate {
    visibility: visible;
    opacity: 1;
    margin-left: 0px;
    margin-right: 0px;
}

#SustainabilityPolicyPopup {
    visibility: hidden;
    background-color: rgba(0,0,0,0.75);
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    font-size: 17px;
}

#SustainabilityPolicyPopup a:link,
#SustainabilityPolicyPopup a:active,
#SustainabilityPolicyPopup a:visited {
    color: #ffffff;
    text-decoration: none;
}

#SustainabilityPolicyPopup a:hover {
    text-decoration: underline;
}

#SustainabilityPolicyPopup.show {
    visibility: visible;
    /*animation: fadein 0.5s, fadeout 0.5s 2.5s;*/
    animation: fadeinPopup 0.5s;
}

#SustainabilityPolicyPopup.hide {
    /*animation: fadein 0.5s, fadeout 0.5s 2.5s;*/
    animation: fadeoutPopup 0.5s 2.5s forwards;
}

@keyframes fadeinPopup {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeoutPopup {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.gallery .img-thumbnail {
    margin-bottom: 30px;
}

#BellsLogoLargeAnimation {
    width: 750px;
    height: 750px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#BellsLogoLargeAnimation .BellsLogoLarge {
    background: url(/images/BellsLogoBlackLrg.png) no-repeat;
    width: 750px;
    height: 750px;
    transform: rotate(270deg);
    visibility: hidden;
}


#BellsLogoLargeAnimation .BellsLogoLarge.show {
    visibility: visible;
    animation: rotateShow 0.5s forwards;
}

#BellsLogoLargeAnimation .BellsLogoLarge.hide {
    animation: rotateHide 0.5s forwards;
}

@keyframes rotateShow {
    from {transform: rotate(-90deg); opacity: 0;}
    to {transform: rotate(0deg); opacity: 1;}
}

@keyframes rotateHide {
  from {transform: rotate(0deg); opacity: 1;}
  to {transform: rotate(90deg); opacity: 0;}
}

nav .SocialMediaLinks {
    width: 200px;
}

.navbar-brand {
    margin-top: -10px;
    margin-bottom: -10px;
}

.navbar {
  background-color: #303030;
}
.navbar .navbar-brand {
  color: #acacac;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffffff;
}
.navbar .navbar-text {
  color: #acacac;
}
.navbar .navbar-text a {
  color: #ffffff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ffffff; 
}
.navbar .navbar-nav .nav-link {
  color: #acacac;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffffff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffffff;
  background-color: #222222;
}
.navbar .navbar-toggle {
  border-color: #222222;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #222222;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #acacac;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #acacac;
}
.navbar .navbar-link {
  color: #acacac;
}
.navbar .navbar-link:hover {
  color: #ffffff;
}

.dropdown-menu {
    background-color: #222222;
}

.dropdown-menu .dropdown-item:link {
    color: #acacac;
}

.dropdown-menu .dropdown-item:link,
.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item:visited {
    color: #acacac;
}

.dropdown-menu .dropdown-item:hover {
    color: #ffffff;
    background-color: #303030;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #acacac;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #222222;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #acacac;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #222222;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #acacac;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #222222;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #acacac;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #222222;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #acacac;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffffff;
  background-color: #222222;
}