<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BellsFishShop</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#c0c0c0">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#c0c0c0">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
        <link rel="stylesheet" href="~/lib/ekko-lightbox/ekko-lightbox.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.min.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
              asp-fallback-href="~/lib/ekko-lightbox/ekko-lightbox.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>

    <link href="//fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet" />
    @*<link href="//fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet" />*@
    <link href="https://fonts.googleapis.com/css?family=Damion&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merienda+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/slider.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @RenderSection("Stylesheets", required: false)
</head>
<body>
    @if ((bool?)ViewData["KioskMode"] != true)
    {

        <nav class="navbar sticky-top navbar-expand">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link btn btn-primary btn-circle btn-Bells" href="tel:0191 3848974"><i class="fas fa-phone"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary btn-circle btn-Bells" href="mailto:bells@bellsfishshop.co.uk?subject=Website Enquiry"><i class="fas fa-envelope"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary btn-circle btn-Bells" href="#"><i class="fas fa-utensils"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary btn-circle btn-Bells" href="#"><i class="fas fa-beer"></i></a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid TopLogo">
            <div class="row">
                <div class="col-lg text-center">
                    <a asp-page="/">
                        <img src="~/images/BellsLogoWhite.png" class="img-fluid mx-auto d-block" alt="Bells Fish Shop">
                    </a>
                </div>
            </div>
        </div>

        <div id="CarouselHomePage" class="carousel slide lazy" data-ride="carousel" data-interval="6000">
            <ol class="carousel-indicators">
                <li data-target="#CarouselHomePage" data-slide-to="0" class="active"></li>
                <li data-target="#CarouselHomePage" data-slide-to="1"></li>
                <li data-target="#CarouselHomePage" data-slide-to="2"></li>
                <li data-target="#CarouselHomePage" data-slide-to="3"></li>
                <li data-target="#CarouselHomePage" data-slide-to="4"></li>
                <li data-target="#CarouselHomePage" data-slide-to="5"></li>
                <li data-target="#CarouselHomePage" data-slide-to="6"></li>
                <li data-target="#CarouselHomePage" data-slide-to="7"></li>
                <li data-target="#CarouselHomePage" data-slide-to="8"></li>
                <li data-target="#CarouselHomePage" data-slide-to="9"></li>
                <li data-target="#CarouselHomePage" data-slide-to="10"></li>
                <li data-target="#CarouselHomePage" data-slide-to="11"></li>
                <li data-target="#CarouselHomePage" data-slide-to="12"></li>
                <li data-target="#CarouselHomePage" data-slide-to="13"></li>
                <li data-target="#CarouselHomePage" data-slide-to="14"></li>
                <li data-target="#CarouselHomePage" data-slide-to="15"></li>
                <li data-target="#CarouselHomePage" data-slide-to="16"></li>
                <li data-target="#CarouselHomePage" data-slide-to="17"></li>
                <li data-target="#CarouselHomePage" data-slide-to="18"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/images/Slideshow-Main/Framwellgate1.jpg" alt="Restaurant &amp; Takeaway @@ Framwellgate" class="img-fluid" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>
                            Our new <i class="fas fa-utensils"></i> restaurant and <i class="fas fa-shopping-bag"></i> takeaway at Framwellgate
                        </h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img data-src="/images/Slideshow-Main/Framwellgate2.jpg" alt="Restaurant &amp; Takeaway @@ Framwellgate" class="img-fluid" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>
                            Perfect for your <i class="fas fa-moon"></i> evening <i class="fas fa-fish"></i> meal and a catchup with friends and family
                        </h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img data-src="/images/Slideshow-Main/Framwellgate3.jpg" alt="Restaurant &amp; Takeaway @@ Framwellgate" class="img-fluid" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>
                            We serve <i class="fas fa-beer"></i> draught beer at our Framwellgate and Team Valley <i class="fas fa-utensils"></i> restaurants
                        </h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img data-src="/images/Slideshow-Main/Framwellgate4.jpg" alt="Restaurant &amp; Takeaway @@ Framwellgate" class="img-fluid" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>
                            With on-site <i class="fas fa-car"></i> parking facilities* and space to enjoy your <i class="fas fa-fish"></i> meal
                        </h3>
                        <h5>
                            *<i class="fas fa-info-circle"></i> Not available at Market Place Restaurant and Takeaway
                        </h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img data-src="/images/Slideshow-Main/Framwellgate5.jpg" alt="Restaurant &amp; Takeaway @@ Framwellgate" class="img-fluid" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>
                            With regularly inspected <i class="fas fa-restroom"></i> bathrooms
                        </h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img data-src="/images/Slideshow-Main/Framwellgate6.jpg" alt="Restaurant &amp; Takeaway @@ Framwellgate" class="img-fluid" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>
                            We serve draught <i class="fas fa-beer"></i> beer at our Framwellgate and Team Valley <i class="fas fa-utensils"></i> restaurants
                        </h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img data-src="/images/Slideshow-Main/Framwellgate7.jpg" alt="Restaurant &amp; Takeaway @@ Framwellgate" class="img-fluid" />
                </div>
                <div class="carousel-item">
                    <img data-src="/images/Slideshow-Main/FramwellgateTW1.jpg" alt="Restaurant &amp; Takeaway @@ Framwellgate" class="img-fluid" />
                </div>
                <div class="carousel-item">
                    <img data-src="/images/Slideshow-Main/FramwellgateTW2.jpg" alt="Restaurant &amp; Takeaway @@ Framwellgate" class="img-fluid" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>
                            Our <i class="fas fa-shopping-bag"></i> takeaway at Framwellgate
                        </h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img data-src="/images/Slideshow-Main/FramwellgateTW3.jpg" alt="Restaurant &amp; Takeaway @@ Framwellgate" class="img-fluid" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>
                            A <i class="fas fa-fish"></i> fish tank in every restaurant and takeaway
                        </h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img data-src="/images/Slideshow-Main/TeamValley1.jpg" alt="Restaurant &amp; Takeaway @@ Team Valley" class="img-fluid" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>
                            Our new <i class="fas fa-utensils"></i> restaurant and <i class="fas fa-shopping-bag"></i> takeaway at the Team Valley Retail World
                        </h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img data-src="/images/Slideshow-Main/TeamValley2.jpg" alt="Restaurant &amp; Takeaway @@ Team Valley" class="img-fluid" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>
                            Our new <i class="fas fa-utensils"></i> restaurant and <i class="fas fa-shopping-bag"></i> takeaway at the Team Valley Retail World
                        </h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img data-src="/images/Slideshow-Main/TeamValley3.jpg" alt="Restaurant &amp; Takeaway @@ Team Valley" class="img-fluid" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>
                            Our new <i class="fas fa-utensils"></i> restaurant and <i class="fas fa-shopping-bag"></i> takeaway at the Team Valley Retail World
                        </h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img data-src="/images/Slideshow-Main/TeamValley4.jpg" alt="Restaurant &amp; Takeaway @@ Team Valley" class="img-fluid" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>
                            We serve <i class="fas fa-beer"></i> draught beer at our Framwellgate and Team Valley <i class="fas fa-utensils"></i> restaurants
                        </h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img data-src="/images/Slideshow-Main/TeamValley5.jpg" alt="Restaurant &amp; Takeaway @@ Team Valley" class="img-fluid" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>
                            Over the road from <i class="fas fa-shopping-basket"></i> ASDA @@ Team Valley Retail World
                        </h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img data-src="/images/Slideshow-Main/TeamValley6.jpg" alt="Restaurant &amp; Takeaway @@ Team Valley" class="img-fluid" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>
                            Why not sit outside and grab a <i class="fas fa-beer"></i> draught beer after your shop at Team Valley?
                        </h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img data-src="/images/Slideshow-Main/TeamValley7.jpg" alt="Restaurant &amp; Takeaway @@ Team Valley" class="img-fluid" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>
                            Next door to <i class="fas fa-mug-hot"></i> Costa Coffee
                        </h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img data-src="/images/Slideshow-Main/TeamValley8.jpg" alt="Restaurant &amp; Takeaway @@ Team Valley" class="img-fluid" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>
                            Why not sit <i class="fas fa-sun"></i> outside and with <i class="fas fa-fish"></i> fish and chips and a fresh <i class="fas fa-beer"></i> draught beer @@ Team Valley Retail World
                        </h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img data-src="/images/Slideshow-Main/TeamValleyTW1.jpg" alt="Restaurant &amp; Takeaway @@ Team Valley" class="img-fluid" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>
                            <i class="fas fa-utensils"></i> Restaurant on one side and <i class="fas fa-shopping-bag"></i> takeaway on the other @@ Team Valley Retail World
                        </h3>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#CarouselHomePage" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#CarouselHomePage" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <partial name="_LoginPartial" />
    }

    <div class="body-content">
        @*<partial name="_CookieConsentPartial" />*@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if ((bool?)ViewData["KioskMode"] != true)
    {
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <footer class="footer text-muted text-center">
                        &copy; 2019-2020 - Bells Fish and Chips
                    </footer>
                </div>
            </div>
        </div>
    }

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js" asp-append-version="true"></script>
        <script src="~/lib/ekko-lightbox/ekko-lightbox.js" asp-append-version="true"></script>
        <script src="~/lib/ScrollMagic/ScrollMagic.js" asp-append-version="true"></script>
        <script src="~/lib/ScrollMagic/plugins/debug.addIndicators.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"
                asp-fallback-src="~/lib/ekko-lightbox/ekko-lightbox.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"
                asp-fallback-src="~/lib/ekko-lightbox/ekko-lightbox.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
    </environment>

    <script src="~/js/modals.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
