<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BellsFishShop</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#c0c0c0">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#c0c0c0">

    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/ekko-lightbox/ekko-lightbox.css" asp-append-version="true">

    <link href="//fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/slider.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("Stylesheets", required: false)
</head>
<body>
    @if ((bool?)ViewData["KioskMode"] != true)
    {
        <partial name="_LoginPartial" />

        <nav class="navbar navbar-expand-lg navbar-toggleable-lg sticky-top navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><div id="NavbarLogo" class="NavbarLogoPreAnim"><img src="~/images/BellsLogoNavbar.png" alt="Bells Fish Shop" /></div></a>
                <a class="nav-link text-light d-lg-none" href="mailto:bells@bellsfishshop.co.uk?subject=Website%20Enquiry" title="Email Us" target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
                <a class="nav-link text-light d-lg-none" href="//facebook.com/bellsfishandchips/" title="Visit our Facebook page" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>
                <a class="nav-link text-light d-lg-none" href="//twitter.com/BellsFishShop" title="Visit our Twitter page" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
                <a class="nav-link text-light d-lg-none" href="//instagram.com/bellsfishandchips/" title="Visit our Instagram page" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse">
                    @*<partial name="_LoginPartial" />*@
                    <ul class="nav navbar-nav ml-auto justify-content-end d-none d-lg-inline-flex SocialMediaLinks">
                        <li class="nav-item">
                            <a class="nav-link" href="mailto:sales@mainlineuk.com?subject=Website%20Enquiry" title="Visit our Facebook page" target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="//facebook.com/bellsfishandchips/" title="Visit our Facebook page" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="//twitter.com/BellsFishShop" title="Visit our Twitter page" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="//instagram.com/bellsfishandchips/" title="Visit our Instagram page" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav w-100 nav-pills nav-fill">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index"><i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="RestaurantsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-store-alt"></i> Bells Outlets
                            </a>
                            <div class="dropdown-menu" aria-labelledby="RestaurantsDropdown">
                                <a class="dropdown-item" href="~/Outlet/Framwellgate"><i class="fas fa-utensils"></i> Framwellgate Moor <small class="text-muted">Restaurant and Takeaway</small></a>
                                <a class="dropdown-item Takeaway" href="~/Outlet/Gilesgate"><i class="fas fa-fish"></i> Gilesgate <small class="text-muted"> Takeaway</small></a>
                                <a class="dropdown-item" href="~/Outlet/MarketPlace"><i class="fas fa-utensils"></i> Market Place <small class="text-muted">Restaurant and Takeaway</small></a>
                                <a class="dropdown-item" href="~/Outlet/TeamValley"><i class="fas fa-utensils"></i> Team Valley <small class="text-muted">Restaurant and Takeaway</small></a>
                                <a class="dropdown-item Takeaway" href="~/Outlet/Washington"><i class="fas fa-fish"></i> Washington <small class="text-muted">Takeaway</small></a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="MenusDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-clipboard-list"></i> Menus
                            </a>
                            <div class="dropdown-menu" aria-labelledby="MenusDropdown">
                                <a class="dropdown-item" href="~/Menu/Restaurant"><i class="fas fa-utensils"></i> Restaurant Menu</a>
                                <a class="dropdown-item" href="~/Menu/Takeaway"><i class="fas fa-shopping-bag"></i> Takeaway Menu</a>
                                <a class="dropdown-item" href="~/Menu/LiteBite"><i class="fas fa-fish"></i> Lite Bite Menu (Team Valley)</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Gallery"><i class="fas fa-images"></i> Gallery</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="AboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-question-circle"></i> About Bells
                            </a>
                            <div class="dropdown-menu" aria-labelledby="AboutDropdown">
                                <a class="dropdown-item" href="~/About"><i class="fas fa-question-circle"></i> About Bells</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-page="/Sustainability"><i class="fas fa-fish"></i> Sustainability</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Contact"><i class="fas fa-comment-dots"></i> Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    }

    @if ((bool?)ViewData["KioskMode"] != true)
    {
        <div class="container-fluid TopFadedBackground">
            <div class="TopLogo d-flex justify-content-center">
                <img src="~/images/BellsLogo.png" alt="Bells Fish Shop Logo" class="my-auto" />
            </div>
            <div class="BackgroundImg">
                <img src="/images/Slideshow-Main/Framwellgate2-Faded.jpg" alt="Restaurant &amp; Takeaway @@ Framwellgate" class="img-fluid" />
            </div>
        </div>
    }

    <div class="body-content">
        @*<partial name="_CookieConsentPartial" />*@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if ((bool?)ViewData["KioskMode"] != true)
    {
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <footer class="footer text-muted text-center">
                        &copy; 2019-2021 - Bells Fish and Chips
                    </footer>
                </div>
            </div>
        </div>
    }

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/ekko-lightbox/ekko-lightbox.min.js" asp-append-version="true"></script>
    <script src="~/lib/ScrollMagic/ScrollMagic.min.js" asp-append-version="true"></script>

    <environment include="Development">
        <script src="~/lib/ScrollMagic/plugins/debug.addIndicators.js" asp-append-version="true"></script>
    </environment>

    <script src="~/js/modals.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
