<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BellsFishShop</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#c0c0c0">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#c0c0c0">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
        <link rel="stylesheet" href="~/lib/ekko-lightbox/ekko-lightbox.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.min.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
              asp-fallback-href="~/lib/ekko-lightbox/ekko-lightbox.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>

    <link href="//fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/slider.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("Stylesheets", required: false)
</head>
<body>
    @if ((bool?)ViewData["KioskMode"] != true)
    {
    <div class="container-fluid header-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 align-self-center TopTel d-none d-lg-block">
                    <a href="tel:0191 3848974" class="btn btn-outline-dark"><i class="fas fa-phone"></i> 0191 3848974</a>
                </div>
                <div class="col-lg text-center">
                    <a asp-page="/">
                        <img src="~/images/BellsLogoBlack.png" class="img-fluid mx-auto d-block TopLogo" alt="Bells Fish Shop">
                    </a>
                    <h3 class="Strapline">
                        '<span>Proper</span> fish and chips'
                    </h3>
                </div>
                <div class="col-lg-4 align-self-center TopEmail d-none d-lg-block d-lg-inline-flex flex-lg-row-reverse">
                    <div class="ml-auto justify-content-end">
                        <a href="mailto:bells@bellsfishshop.co.uk?subject=Website%20Enquiry" class="btn btn-outline-dark"><i class="fas fa-envelope"></i> bells@bellsfishshop.co.uk</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5 TopSmall d-lg-none">
                    <a href="tel:0191 3848974" target="_blank" rel="noopener"><i class="fas fa-phone"></i> 0191 3848974</a><br />
                </div>
                <div class="col-7 TopSmall d-lg-none text-right">
                    <a href="mailto:bells@bellsfishshop.co.uk?subject=Website%20Enquiry"><i class="fas fa-envelope"></i> bells@bellsfishshop.co.uk</a>
                </div>
            </div>
        </div>
    </div>

    <partial name="_LoginPartial" />

    <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-page="/Index"><div id="NavbarLogo" class="NavbarLogoPreAnim"><img src="~/images/BellsLogoNavbar.png" alt="Bells Fish Shop" /></div></a>
            <a class="nav-link text-light d-lg-none" href="mailto:bells@bellsfishshop.co.uk?subject=Website%20Enquiry" title="Email Us" target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
            <a class="nav-link text-light d-lg-none" href="//facebook.com/bellsfishandchips/" title="Visit our Facebook page" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>
            <a class="nav-link text-light d-lg-none" href="//twitter.com/BellsFishShop" title="Visit our Twitter page" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
            <a class="nav-link text-light d-lg-none" href="//instagram.com/bellsfishandchips/" title="Visit our Instagram page" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse">
                @*<partial name="_LoginPartial" />*@
                <ul class="nav navbar-nav ml-auto justify-content-end d-none d-lg-inline-flex SocialMediaLinks">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="mailto:sales@mainlineuk.com?subject=Website%20Enquiry" title="Visit our Facebook page" target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="//facebook.com/bellsfishandchips/" title="Visit our Facebook page" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="//twitter.com/BellsFishShop" title="Visit our Twitter page" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="//instagram.com/bellsfishandchips/" title="Visit our Instagram page" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
                <ul class="navbar-nav w-100 nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="RestaurantsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-utensils"></i> Restaurants
                        </a>
                        <div class="dropdown-menu" aria-labelledby="RestaurantsDropdown">
                            <a class="dropdown-item" href="~/Outlet/Framwellgate"><i class="fas fa-utensils"></i> Framwellgate Moor</a>
                            <a class="dropdown-item" href="~/Outlet/MarketPlace"><i class="fas fa-utensils"></i> Market Place</a>
                            <a class="dropdown-item" href="~/Outlet/TeamValley"><i class="fas fa-utensils"></i> Team Valley</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="" asp-page="/Sustainability"><i class="fas fa-fish"></i> Sustainability</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle Takeaway" href="#" id="HelpDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-shopping-bag"></i> Takeaways
                        </a>
                        <div class="dropdown-menu" aria-labelledby="HelpDropdown">
                            <a class="dropdown-item Takeaway" href="~/Outlet/Framwellgate"><i class="fas fa-shopping-bag"></i> Framwellgate Moor</a>
                            <a class="dropdown-item Takeaway" href="~/Outlet/Gilesgate"><i class="fas fa-shopping-bag"></i> Gilesgate</a>
                            <a class="dropdown-item Takeaway" href="~/Outlet/Marketplace"><i class="fas fa-shopping-bag"></i> Market Place</a>
                            <a class="dropdown-item Takeaway" href="~/Outlet/TeamValley"><i class="fas fa-shopping-bag"></i> Team Valley</a>
                            <a class="dropdown-item Takeaway" href="~/Outlet/Washington"><i class="fas fa-shopping-bag"></i> Washington</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="" asp-page="/Sustainability"><i class="fas fa-fish"></i> Sustainability</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/Menu/Food"><i class="fas fa-list"></i> Food Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/Menu/Drinks"><i class="fas fa-beer"></i> Drinks Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/About"><i class="fas fa-question-circle"></i> About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Contact"><i class="fas fa-comment-dots"></i> Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    }

    <div class="body-content">
        @*<partial name="_CookieConsentPartial" />*@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if ((bool?)ViewData["KioskMode"] != true)
    {
    <div class="container">
        <div class="row">
            <div class="col-md">
                <footer class="footer text-muted text-center">
                    &copy; 2019 - Bells Fish and Chips
                </footer>
            </div>
        </div>
    </div>
    }

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js" asp-append-version="true"></script>
        <script src="~/lib/ekko-lightbox/ekko-lightbox.js" asp-append-version="true"></script>
        <script src="~/lib/ScrollMagic/ScrollMagic.js" asp-append-version="true"></script>
        <script src="~/lib/ScrollMagic/plugins/debug.addIndicators.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"
                asp-fallback-src="~/lib/ekko-lightbox/ekko-lightbox.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"
                asp-fallback-src="~/lib/ekko-lightbox/ekko-lightbox.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
    </environment>

    <script src="~/js/modals.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
