@page
@model BellsFishShop.Pages.AboutModel

@{
    ViewData["Title"] = "About";
}

<div class="container MainContent Spacer">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-md Spacer">
                        <h3>
                            <i class="fas fa-users"></i> Family Business
                        </h3>
                        <p>
                            Bells is a successful family run business feeding the Durham and Washington area from its five outlets providing a mix of restaurant and take away facilities.
                        </p>
                        <p>
                            Recently in 2019 Bells opened its third restaurant on Finchale Road, Framwellgate Moor, making a total of five outlets, following a £1.5m conversion of the former GMD car showroom.
                        </p>
                        <p>
                            The new 8,500sq ft premises is a far cry from the humble ‘chippy’ of yesteryear.
                        </p>
                        <p>
                            The plush, well-appointed, premises features a 90-seat restaurant, complete with quirky décor, including an ice-cream van serving area, a bar and a takeaway.
                        </p>
                        <p>
                            Just months before this, the second restaurant opened in the newly established Team Valley Retail World with a similar decor to the Framewellgate restaurant.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-img">
                                <a href="~/Outlet/Framwellgate">
                                    <div class="Icons">
                                        <i class="fas fa-utensils"></i> <i class="fas fa-shopping-bag"></i>
                                    </div>
                                    <img src="~/images/Framwellgate.jpg" class="card-img-top" alt="Framwellgate Restaurant and Takeaway" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    Framwellgate Restaurant and Takeaway
                                </h5>
                                <p class="card-text">
                                    Old Pit Lane, Framwellgate Moor. DH1 5RW
                                </p>
                                <a href="~/Outlet/Framwellgate" class="btn btn-primary btn-block btn-BellsDark"><i class="fas fa-fish"></i> Further Details</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-img">
                                <a href="~/Outlet/TeamValley">
                                    <div class="Icons">
                                        <i class="fas fa-utensils"></i> <i class="fas fa-shopping-bag"></i>
                                    </div>
                                    <img src="~/images/TeamValley.jpg" class="card-img-top" alt="Team Valley Restaurant and Takeaway" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    Team Valley Restaurant and Takeaway
                                </h5>
                                <p class="card-text">
                                    Unit 23, Team Valley Retail World, Gateshead. NE11 0BD
                                </p>
                                <a href="~/Outlet/TeamValley" class="btn btn-primary btn-block btn-BellsDark"><i class="fas fa-fish"></i> Further Details</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-img">
                                <a href="~/Outlet/MarketPlace">
                                    <div class="Icons">
                                        <i class="fas fa-utensils"></i> <i class="fas fa-shopping-bag"></i>
                                    </div>
                                    <img src="~/images/MarketPlace.jpg" class="card-img-top" alt="Market Place Restaurant and Takeaway" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    Market Place Restaurant and Takeaway
                                </h5>
                                <p class="card-text">
                                    11 Market Place, Durham.<br />DH1 3NE
                                </p>
                                <a href="~/Outlet/MarketPlace" class="btn btn-primary btn-block btn-BellsDark"><i class="fas fa-fish"></i> Further Details</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-img">
                                <a href="~/Outlet/Gilesgate">
                                    <div class="Icons">
                                        <i class="fas fa-shopping-bag"></i>
                                    </div>
                                    <img src="~/images/Gilesgate.jpg" class="card-img-top" alt="Gilesgate Takeaway" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    Gilesgate Takeaway
                                </h5>
                                <p class="card-text">
                                    36 Sunderland Road, Gilesgate, Durham. DH1 2LG
                                </p>
                                <a href="~/Outlet/Gilesgate" class="btn btn-primary btn-block btn-BellsDark"><i class="fas fa-fish"></i> Further Details</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-img">
                                <a href="~/Outlet/Washington">
                                    <div class="Icons">
                                        <i class="fas fa-shopping-bag"></i>
                                    </div>
                                    <img src="~/images/Washington.jpg" class="card-img-top" alt="Washington Takeaway" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    Washington Takeaway
                                </h5>
                                <p class="card-text">
                                    Unit 2, Craggs Road, Washington. NE38 8FB
                                </p>
                                <a href="~/Outlet/Washington" class="btn btn-primary btn-block btn-BellsDark"><i class="fas fa-fish"></i> Further Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>