@page
@model BellsFishShop.Pages.AboutModel

@{ ViewData["Title"] = "About"; }

<div class="container">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-md Spacer">
                        <h3>
                            <i class="fas fa-users"></i> Family Business
                        </h3>
                        <p>
                            ‘Bells Fish and Chips’ is a family run business led by qualified Chef Graham Kennedy. Bells started life as a small fish shop in Marshall Terrace, Gilesgate. Under the leadership and guidance of Graham it has grown to its current five outlet status, offering both sit in and takeaway services.
                        </p>
                        <p>
                            As Graham says...
                        </p>
                        <p>
                            <i class="fas fa-quote-left"></i> At Bells we never use either the 'T word' (<strong>Traditional</strong>) or the 'Q word' (<strong>Quality</strong>). Our fundamental mantra is that these things are given. Of course, fried fish and chips is a traditional British meal and of course top quality should be expected.
                        </p>
                        <p>
                            At Bells we try to offer a first-class dining experience within each of our restaurants. We have invested a lot in each of our outlets. Our aim is to offer an enjoyable dining experience for all ages in lovely surroundings. Every one of our premises has a five-star hygiene rating and that is the way we want it to stay. <i class="fas fa-quote-right"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="NavbarLogoTrigger"></div>