@page
@model BellsFishShop.Pages.GalleryModel
@{
    ViewData["Title"] = "Gallery";
}

<div class="container gallery Spacer">
    <div class="row">
        <div class="col-md">
            <div class="alert alert-primary" role="alert">
                Click any photo to enlarge
            </div>
        </div>
    </div>
    <div class="row">
        <a href="/images/Gallery/gallery01.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Framwellgate" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery01Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery02.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Framwellgate" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery02Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery03.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Framwellgate" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery03Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery04.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Framwellgate" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery04Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery05.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Framwellgate" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery05Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery06.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Framwellgate" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery06Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery07.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Framwellgate" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery07Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery08.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Framwellgate" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery08Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery09.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Framwellgate" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery09Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery10.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Framwellgate" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery10Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery11.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Framwellgate" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery11Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery12.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Framwellgate" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery12Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery13.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Framwellgate" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery13Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery14.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Framwellgate" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery14Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery15.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Framwellgate" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery15Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery16.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Framwellgate" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery16Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery17.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Framwellgate" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery17Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery18.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Framwellgate" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery18Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery19.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Framwellgate" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery19Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery20.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Team Valley" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery20Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery21.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Team Valley" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery21Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery22.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Team Valley" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery22Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery23.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Team Valley" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery23Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery24.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Team Valley" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery24Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery25.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Team Valley" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery25Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery26.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Team Valley" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery26Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery27.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Team Valley" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery27Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery28.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Team Valley" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery28Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery29.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Team Valley" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery29Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery30.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Team Valley" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery30Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery31.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Team Valley" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery31Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery32.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Market Place" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery32Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery33.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Market Place" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery33Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery34.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Market Place" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery34Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery35.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Market Place" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery35Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery36.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Market Place" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery36Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/gallery37.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Bells @@ Market Place" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/gallery37Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>


        <a href="/images/Gallery/Food1.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Food @@ Bells" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/Food1.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/Food2.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Food @@ Bells" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/Food2Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/Food3.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Food @@ Bells" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/Food3Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/Food4.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Food @@ Bells" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/Food4Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/Food5.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Food @@ Bells" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/Food5Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/Food7.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Food @@ Bells" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/Food7Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/Food10.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Food @@ Bells" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/Food10Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/Food11.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Food @@ Bells" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/Food11Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/Food13.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Food @@ Bells" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/Food13Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/Food15.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Food @@ Bells" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/Food15Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/Food16.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Food @@ Bells" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/Food16Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/Food17.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Food @@ Bells" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/Food17Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/Food19.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Food @@ Bells" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/Food19Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/Food20.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Food @@ Bells" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/Food20Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/Food21.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Food @@ Bells" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/Food21Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/Food22.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Food @@ Bells" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/Food22Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/Food23.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Food @@ Bells" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/Food23Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/Food24.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Food @@ Bells" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/Food24Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/Food25.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Food @@ Bells" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/Food25Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="/images/Gallery/Food31.jpg" data-toggle="lightbox" data-gallery="BellsGallery" class="col-sm-6 col-md-3" data-title="Food @@ Bells" data-footer="Bells Fish Shop">
            <img src="/images/Gallery/Food31Thumbnail.jpg" class="img-fluid img-thumbnail">
        </a>
    </div>
</div>