@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<div class="modal fade" id="COVIDMessage" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="COVIDMessageLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="COVIDMessageLabel"><i class="fas fa-virus"></i> COVID-19</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" role="alert">
                    Due to further lockdown restrictions we are only able to offer takeaway facilities and some of our outlets are working on reduced hours. Please ring the outlet in advance to confirm opening times.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid Background1">
    <div class="row">
        <div class="container Spacer">
            <div class="row">
                <div class="col-md">
                    <h1>
                        Welcome to Bells
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <p>
                        At Bells we are proud to offer proper fish and chips. Our products are sourced only from sustainable fishing grounds, with our core product - the classic fish & chip meal - cooked in the old fashioned way, deep fried in best Beef Dripping.
                    </p>
                    <p>
                        For those with special dietary needs, we are always very happy to help.
                    </p>
                    <p class="NavbarLogoTrigger">
                        Our five outlets are in Durham City; Framwellgate Moor; Gilesgate; Teal Farm, Washington and Team Valley, Gateshead.  Wherever or however you choose to eat at Bells, there's a warm welcome and a lovely eating experience.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="alert alert-primary text-center" role="alert">
                        <h4 class="alert-heading"><i class="fas fa-exclamation-triangle"></i> Site Under Development</h4>
                        <p>
                            Please note, you may notice some missing sections whilst we work on improving the new website.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid Background2">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md Spacer">
                    <h3>
                        Our Restaurants and Takeaways
                    </h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-img">
                            <a href="~/Outlet/Framwellgate">
                                <img src="~/images/Framwellgate.jpg" class="card-img-top" alt="Framwellgate Restaurant and Takeaway" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">
                                <a href="~/Outlet/Framwellgate">Framwellgate Restaurant and Takeaway</a>
                            </h6>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-img">
                            <a href="~/Outlet/TeamValley">
                                <img src="~/images/TeamValley.jpg" class="card-img-top" alt="Team Valley Restaurant and Takeaway" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">
                                <a href="~/Outlet/TeamValley">Team Valley Restaurant and Takeaway</a>
                            </h6>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-img">
                            <a href="~/Outlet/MarketPlace">
                                <img src="~/images/MarketPlace.jpg" class="card-img-top" alt="Market Place Restaurant and Takeaway" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">
                                <a href="~/Outlet/MarketPlace">Market Place Restaurant and Takeaway</a>
                            </h6>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-img">
                            <a href="~/Outlet/Gilesgate">
                                <img src="~/images/Gilesgate.jpg" class="card-img-top" alt="Gilesgate Takeaway" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">
                                <a href="~/Outlet/Gilesgate">Gilesgate Takeaway</a>
                            </h6>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-img">
                            <a href="~/Outlet/Washington">
                                <img src="~/images/Washington.jpg" class="card-img-top" alt="Washington Takeaway" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">
                                <a href="~/Outlet/Washington">Washington Takeaway</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid SpacerAfter">
    <div class="row">
        <div class="container">
            <div class="row Spacer">
                <div class="col-md">
                    <h3>
                        <i class="fas fa-fish"></i> Sustainable Fish
                    </h3>
                    <p>
                        We are helping to protect Cod and Haddock by supporting a sustainable fish programme...
                    </p>
                    <a href="/Sustainability" class="btn btn-primary btn-Bells"><i class="fas fa-leaf"></i> Read More</a>
                </div>
                <div class="col-md">
                    <h3>
                        <i class="fas fa-scroll"></i> Bells Mission
                    </h3>
                    <p>
                        At Bells we constantly work to offer first class fish & chips in a first class environment.
                    </p>
                    <p>
                        Our restaurants are designed by Philip Watts Design, using high class innovative materials and concepts.
                    </p>
                    <p>
                        Nothing - relating either to the food we source, prepare and serve - or the fittings and fixtures in our premises, is too much trouble for our customers.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#COVIDMessage').modal({
            show: true
        })
    </script>
}
