@page "{menu}"
@model BellsFishShop.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<div id="CarouselHomePage">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/MenuFood.jpg" alt="Our Food Menu" class="img-fluid" />
        </div>
    </div>
</div>

<div class="container Spacer Menu">
    <div class="row">
        <div class="col-md NavbarLogoTrigger">
            <h3>
                Our @Html.DisplayFor(model => model.MenuRef) Menu
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-bells">
                <div class="row">
                    <div class="col text-center">
                        <span class="glutenfree-gf1"></span><span class="glutenfree-gf2"></span> = Gluten Free
                    </div>
                    <div class="col text-center">
                        <span class="veg-vegetarian"></span> = Vegitarian
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="MenuData">
        <div class="col-md text-center Loading">
            <h1><i class="fas fa-spinner fa-spin"></i></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="bd-callout bd-callout-bells">
                <div class="row">
                    <div class="col text-center">
                        <span class="glutenfree-gf1"></span><span class="glutenfree-gf2"></span> = Gluten Free
                    </div>
                    <div class="col text-center">
                        <span class="veg-vegetarian"></span> = Vegitarian
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="MenuRef" value="@Model.MenuRef" />

@section Scripts {
    <script src="~/js/menu.js" asp-append-version="true"></script>
}
