@page "{menu}"
@model BellsFishShop.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<div id="CarouselHomePage">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/MenuFood.jpg" alt="Our Food Menu" class="img-fluid" />
        </div>
    </div>
</div>

<div class="container Spacer Menu">
    <div class="row">
        <div class="col-md">
            <h3>
                Our Food Menu
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-md-6">
            <div class="MainContent MenuContent">
                <h3>
                    Starters
                </h3>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Codd</td>
                            <td class="text-right">&pound;10.95</td>
                        </tr>
                        <tr>
                            <td>Haddock</td>
                            <td class="text-right">&pound;11.95</td>
                        </tr>
                        <tr>
                            <td>Plaice</td>
                            <td class="text-right">&pound;12.95</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xl-4 col-md-6">
            <div class="MainContent MenuContent">
                <h3>
                    Mains
                </h3>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>
                                Codd
                                <small class="text-muted"> (gluten free available)</small>
                                <br />
                                <small class="text-muted">
                                    Meaty succulent large white flakes served at its best, deep fried in batter
                                </small>
                            </td>
                            <td class="text-right">&pound;10.95</td>
                        </tr>
                        <tr>
                            <td>
                                Haddock
                                <br />
                                <small class="text-muted">
                                    A little sweeter than Cod. Wonderful deep fried with the skin left on to optimise the flavour
                                </small>
                            </td>
                            <td class="text-right">&pound;11.95</td>
                        </tr>
                        <tr>
                            <td>
                                Plaice
                                <br />
                                <small class="text-muted">
                                    White flesh with a fresh slightly citrus taste
                                </small>
                            </td>
                            <td class="text-right">&pound;12.95</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xl-4 col-md-6">
            <div class="MainContent MenuContent">
                <h3>
                    Deserts
                </h3>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Codd</td>
                            <td class="text-right">&pound;10.95</td>
                        </tr>
                        <tr>
                            <td>Haddock</td>
                            <td class="text-right">&pound;11.95</td>
                        </tr>
                        <tr>
                            <td>Plaice</td>
                            <td class="text-right">&pound;12.95</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
