@page
@model BellsFishShop.Pages.SustainabilityModel

@{
    ViewData["Title"] = "Sustainability";
}

<div class="container MainContent Spacer">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-md Spacer">
                        <h3>
                            <i class="fas fa-leaf"></i> Sustainability
                        </h3>
                        <p>
                            We all love fish don't we?<br />
                            But scientists tell us that two portions of fish each week help to protect us against two of the biggest killers; heart disease and various cancers.<br />
                            It is understandable that the demand for fish remains strong.<br />
                            The problem is that two of our most popular species, Cod and Haddock, are fast disappearing from our oceans.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md Spacer">
                        <h3>
                            <i class="fas fa-anchor"></i> Sustainable Fish Policy
                        </h3>
                        <p>
                            At Bells we therefore support a sustainable fish programme.<br />
                            Our fish are supplied daily from 'Field's' of Esh Winning, suppliers of wholesale fish since 1918.<br />
                            Together, Bells and Fields support the 'Responsible Fishing Scheme', trading only in fish that have had time to grow and breed.<br />
                            We only use fish that have been sourced from the cold ocean waters of the north Atlantic, the Barents Sea and the Arctic.<br />
                            All of our fish come from zoned areas and are packaged to display the identity of the approved ocean zone.
                        </p>
                        <p>
                            Watch out too for our delicious locally sourced alternatives to Cod and Haddock!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>